:root {
  --escalia-background: #EC0138;

  --dark-background: #151515;
  --dark-container-background: #212121;
  --dark-color: #FFFFFF;
  --dark-button-color: #A4031F;

  --light-background: #FFFFFF;
  --light-container-background: #DB162F;
  --light-color: #000000;
}

.body-light {
  background-color: var(--light-background);
  color: var(--light-color);
  transition: all 0.5s ease-in-out;
}

.institute-container-light {
  background-color: var(--light-container-background);
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.footer-light {
  background-color: var(--light-container-background);
  color: #fff;
  transition: all 0.5s ease-in-out;
}
