:root {
  --escalia-background: #EC0138;

  --dark-background: #212121;
  --dark-container-background: #151515;
  --dark-color: #FFFFFF;
  --dark-button-color: #A4031F;

  --light-background: #FFFFFF;
  --light-container-background: #DB162F;
  --light-color: #000000;
}

body {
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url(../library/pictures/background/about_bg.jpg);
  background-position: center;
  background-color: var(--dark-background);
  color: var(--dark-color);
}

@keyframes w_multicolor {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
}

.header-link {
  color: var(--dark-color);
}

.header-link:hover {
  color: var(--dark-button-color);
}

.about-container {
  border-radius: 5px;
  background-color: var(--dark-background);
  margin: 6%;
}

.about-content {
  padding: 30px;
}

.con_tit_escalia {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

#title {
  padding: 15px 10px 15px 15px;
}

#escalia_title {
  padding: 15px;
  background-color: var(--escalia-background);
  color: var(--dark-container-background);
}

.workgroup-escalia {
  display: flex;
  gap: 10px;
}

.member_container {
  margin: 2% 0;
  display: flex;
  grid-gap: 5px;
}

.a_logo-container {
  width: 180px;
  display: flex;
  text-align: center;
  align-items: center;
}

.logo-about {
  width: 150px;
  justify-content: center;
  border-radius: 50%;
}

.me {
  padding: 30px 0 0 10px;
}

.me p {
  padding: 10px 0 0 0;
}

.media-container {
  height: 40px;
  margin: 15px 0;
  background-color: var(--dark-background);
  border-radius: 7px;
  display: flex;
}

.media-container:hover {
  background: linear-gradient(50deg, yellow, #9e0f64);
  background-size: 3000px 50px;
  animation: w_multicolor 10s linear infinite;
}

.media-links {
  margin: 20px 10px;
  display: flex;
  gap: 5px;
}

.link-logo {
  display: flex;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .about-container {
    background-color: var(--dark-background);
    margin: 70px 6% 0 6%;
  }

  .a_logo-container {
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }

  .me {
    padding: 10px 0 0 0;
  }

  .member_container {
    display: inline-block;
  }

  .workgroup-escalia {
    display: inline;
    gap: 0;
  }

  .about-content {
    padding: 15px;
    text-align: center;
  }
}
