:root {
  --escalia-background: #EC0138;

  --dark-background: #212121;
  --dark-container-background: #151515;
  --dark-color: #FFFFFF;
  --dark-button-color: #A4031F;

  --light-background: #FFFFFF;
  --light-container-background: #DB162F;
  --light-color: #000000;
}

body {
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url(../library/pictures/background/index_bg.jpg);
  background-position: center;
  color: var(--dark-color);
}

.header-link {
  color: var(--dark-color);
}

.header-link:hover {
  color: var(--dark-button-color);
}



.content {
  background-color: var(--dark-background);
  padding: 15px 0;
}

.index_title {
  height: 600px;
}

.ind_tit-container {
  padding-top: 250px;
  margin: 0 100px;
  text-align: center;
}

.tit-content h1 {
  padding-bottom: 10px;
  font-size: 34px;
}

.tit-content h1:hover {
  color: var(--dark-button-color);
  transition: 0.5s;
}

.ind_tit-controls {
  padding: 10px 0 0 0;
  display: flex;
  justify-content: center;
}

.cards-container h2 {
  padding: 10px 0;
  text-align: center;
}

.cards-content {
  text-align: center;
  padding: 10px 0;
}

.card {
  margin: 15px;
  padding: 0 0 15px 0;
  width: 270px;
  display: inline-block;
  background-color: var(--dark-container-background);
  border-radius: 5px;
  text-align: center;
  cursor: default;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card p {
  font-size: 15px;
  padding: 7px 7px 15px;
}

.card-picture {
  padding: 0 0 15px;
  border-radius: 4px 4px 0 0;
  width: 100%;
}

.longest-cards-container {
  padding: 10px 0;
}

/* PENDING TO EDIT*/
.longest-cards {
  padding: 20px;
  margin: 30px 5%;
  display: flex;
  grid-gap: 5px;
  background-color: var(--dark-container-background);
  border-radius: 5px;
}

.lon_card-picture {
  width: 200px;
  display: flex;
}

.longest-picture {
  width: 200px;
}

.lon_card-content {
  padding: 1%;
  align-content: center;
}

.lon_card-content button{
  margin-top: 20px;
}

.lon_card-content p {
  padding: 10px 0 0 0;
}

.escalia-products {
  padding: 20px;
  margin: 30px 5%;
  display: flex;
  grid-gap: 5px;
  background-color: #151515;
}

.escalia-products div > h2 {
  background: linear-gradient(120deg, #992bff, rgb(255, 59, 140));
  background-size: 500px 100px;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ESCALANTE_slider_automate {
  display: flex;
  overflow: hidden;
}

.ESCALANTE_slider_automate > div {
  padding: 5px 20px;
  color: #212121;
  align-content: center;
  text-align: center;
}

@media screen and (min-width: 1400px){
  .longest-cards {
    margin: 30px 14%;
  }

  .escalia-products {
    margin: 30px 14%;
  }

}

@media screen and (max-width: 800px) {
  .ind_tit-container {
    padding: 220px 0 0 0;
    margin: 0 30px;
    text-align: center;
    margin: 0 15px;
  }

  .card {
    margin: 10px;
  }

  .cards-content {
    text-align: center;
  }

  .longest-cards {
    margin: 10px 25px;
    height: auto;
    display: inline-block;
  }

  .lon_card-picture {
    width: 100%;
    justify-content: center;
  }

  .lon_card-content {
    padding: 0;
  }

  .color-palette {
    margin: 10px 25px;
    padding: 0 20px;
  }

  .col-pal-content {
    margin: 30px;
    display: inline;
  }

  .color{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
