:root {
  --escalia-background: #EC0138;

  --dark-background: #151515;
  --dark-container-background: #212121;
  --dark-color: #FFFFFF;
  --dark-button-color: #A4031F;

  --light-background: #FFFFFF;
  --light-container-background: #DB162F;
  --light-color: #000000;
}

@keyframes multicolor {
  0% {
    color: var(--escalia-background);
  }
  20% {
    color: #ff99cc;
  }
  25% {
    color: #32c0f4;
  }
  50% {
    color: yellow;
  }
  75% {
    color: #4de854;
  }
  100% {
    color: var(--escalia-background);
  }
}

  @keyframes w_multicolor {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 100%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 50% 0%;
    }
  }

.header-link {
  color: #252525;
}

.header-link:hover {
  font-weight: bold;
  color: #fd6585;
}

body {
  height: 145vh;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-color: var(--dark-color);
  color: var(--light-color);
}

.welcome {
  height: 500px;
}

.background {
  height: 500px;
  background: linear-gradient(200deg, #22ffb5, #fcfcfc);
  background-size: 2200px 500px;
  animation: w_multicolor 40s linear infinite;
}

.welcome .title {
  padding-top: 200px;
  text-align: center;
}

.welcome .background .title h1 {
  animation: multicolor 10s linear infinite;
  padding: 0 0 5px 0;
  font-size: 30px;
}

.proximas_implementaciones {
  margin: 20px 0;
  text-align: center;
}

.proximas_implementaciones .explain {
  padding: 15px;
  font-family: "Raleway";
}

.proximas_implementaciones h3 {
  animation: multicolor 5s linear infinite;
}

.lab-container {
  background-color: var(--dark-background);
  color: var(--dark-color);
  margin: 20px 120px;
  padding: 20px 30px;
  border-radius: 5px;
}

.content-cal {
  display: flex;
}

.content-cal .calculator {
  text-align: center;
  margin: 20px;
}

.content-cal .buttons {
  display: block;
  width: max-content;
}

.content-cal .description {
  width: auto;
}

.btn-calc {
  height: 50px;
  width: 50px;
  margin: 5px 0;
  color: var(--dark-color);
  background-color: var(--dark-container-background);
  border: 1px solid var(--dark-color);
  border-radius: 2px;
}

.btn-calc:hover {
  height: 50px;
  width: 50px;
  background-color: darkviolet;
  border: 1px solid var(--dark-container-background);
  transition: 0.3s;
  border-radius: 2px;
}

.calculator {
  font-size: 35px;
}

.display {
  font-family: "Consolas";
  height: 30px;
  width: auto;
  color: var(--dark-color);
  margin-bottom: 10px;
  text-align: center;
}

.proximas_implementaciones p {
  padding: 30px 20px 0 20px;
}

.proximas_implementaciones .comentary {
  padding-top: 10px;
}

.picture {
  width: 600px;
}

.panel-container {
  margin: 20px 0;
  padding: 1%;
  border-radius: 5px;
}

.panel-container p {
  padding: 10px;
}

.lab-container .button {
  margin: 10px 0 0 0;
}

.footer-lab {
  background-color: var(--dark-color);
  padding: 15px 10px;
  text-align: center;
  color: #000;
}

@media screen and (max-width: 800px) {
  .lab-container {
    margin: 10px 30px;
    padding: 10px;
  }

  .content-cal {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    display: inline-block;
  }

  .content-cal .calculator {
    display: flex;
    justify-content: center;
  }

  .picture {
    width: 100%;
  }
}
