@keyframes multicolor {
    0% {color: #EC0128;}
    20%{color: #ff99cc;}
    25% {color: #32C0F4;}
    50% {color: yellow;}
    75% {color: #4DE854;}
    100% {color: #FD6585;}
}

@keyframes w_multicolor {
    0% {background-position: 0% 50%;}
    25% {background-position: 50% 100%;}
    50% {background-position: 100% 50%;}
    75% {background-position: 50% 0%;}
}

.link {
    color: #252525; 
}

.link:hover {
    font-weight: bold;
    color: #FD6585;
}

body {
    height: 145vh;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-color: #fff;
    color: #252525;
}

.welcome {
    height: 500px;
}

.background {
    height: 500px;
    background: linear-gradient(220deg, #33ccff, #A71D31);
    background-size: 2200px 500px;
    animation: w_multicolor 40s linear infinite;
}

.welcome .title {
    padding-top: 200px;
    text-align: center;
}

.welcome .background .title h1{
    animation: multicolor 10s linear infinite;
    padding: 0 0 5px 0;
    font-size: 30px;
}

.proximas_implementaciones {
    margin: 20px 0 20px 0;
    text-align: center;
}

.proximas_implementaciones .explain {
    padding: 15px;
    font-family: 'Raleway';
}

.proximas_implementaciones h3 {
    animation: multicolor 5s linear infinite;
}

.lab-container {
    background-color: #252525;
    color: #fff;
    margin: 20px 130px 20px 130px;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}

.content-cal {
    display: flex;
}

.content-cal .calculator {
    text-align: center;
    margin: 20px;
}

.content-cal .buttons {
    display: block;
    width: max-content;
}

.content-cal .description {
    width: auto;
}

.btn-calc {
    height: 50px;
    width: 50px;
    margin: 5px 0 5px 0;
    color: #fff;
    background-color: #252525;
    border: 1px solid #fff;
    border-radius: 2px;
}

.btn-calc:hover {
    height: 50px;
    width: 50px;
    background-color: darkviolet;
    border: 1px solid #252525;
    transition: 0.3s;
    border-radius: 2px;
}

.calculator {
    font-size: 35px;
}

.display{
    font-family: 'Consolas';
    height: 30px;
    width: auto;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.proximas_implementaciones p {
    padding: 30px 20px 0 20px;
}

.proximas_implementaciones .comentary {
    padding-top: 10px;
}

.footer-lab {
    background-color: #ffffff;
    padding: 15px 10px;
    text-align: center;
    color: #252525;
}

.footer-lab .group-b small{
    font-size: 16px;
}

.picture {
    width: 600px;
}

.panel-container {
    margin: 20px 0 20px 0;
    padding: 1%;
    background-color: #000;
    border-radius: 5px;
}

.panel-container p {
    padding: 10px;
}

@media screen and (max-width:800px){
    .lab-container {
        margin: 10px 30px 10px 30px;
        padding: 0px 10px 0 10px;
    }

    .content-cal {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        display: inline-block;
    }

    .content-cal .calculator {
        display: flex;
        justify-content: center;
    }

}