body {
    background-image: linear-gradient(180deg,
    #0000008c 0%,
    #0000008c 100%),
    url(../library/pictures/background/index_bg.jpg);
    background-position: center;
    background-color: #252525;
    color: #fff;
}

.link {
    color: #f2f2f2;
}

.link:hover {
    color: #EC0138;
}