body {
    background-image: linear-gradient(180deg,
    #0000008c 0%,
    #0000008c 100%),
    url(../library/pictures/background/index_bg.jpg);
    background-position: center;
    background-color: #252525;
    color: #fff;
}

.content {
    padding: 70px 1% 1% 1%;
}

.link {
    color: #f2f2f2;
}

.link:hover {
    color: #EC0138;
}

#contenedor {
    width: 400px;
    height: 300px;
    background-color: darkred;
}

#panel1 {
    width: 50%;
    height: 100%;
}

#panel2 {
    width: 50%;
    height: 100%;
}

#botones {
    width: 100%;
    height: 50px;
}

button {
    width: 50%;
    height: 100%;
    border: 1px solid black;
}