:root {
  --escalia-background: #EC0138;

  --dark-background: #212121;
  --dark-container-background: #151515;
  --dark-color: #FFFFFF;
  --dark-button-color: #A4031F;

  --light-background: #FFFFFF;
  --light-container-background: #DB162F;
  --light-color: #000000;
}

body {
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url(../library/pictures/background/projects_bg.jpg);
  background-position: center;
  background-color: var(--dark-background);
  color: var(--dark-color);
}

.header-link {
  color: var(--dark-color);
}

.header-link:hover {
  color: var(--dark-button-color);
}

.content {
  background-color: var(--dark-background);
  text-align: center;
  padding: 20px 0;
}

.content h2 {
  padding-bottom: 10px;
}

.pro_welcome {
  text-align: center;
  padding: 15% 0;
  background-color: rgb(255, 255, 255, 0.8);
  color: var(--dark-color);
}

.pro_wel_title {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro_container {
  border-radius: 5px;
}

.pro_slides_container {
  margin: 1% 0;
  padding: 0 5px;
  display: flex;
  overflow-x: scroll;
  gap: 5px;
}

.pro_slide {
  margin: 10px;
  padding: 1%;
  width: 300px;
  min-width: 300px;
  border-radius: 5px;
  font-weight: 15px;
  background-color: var(--dark-background);
}

.slide_picture {
  width: 100%;
}

.pro_content {
  margin: 10px 0;
  display: flex;
  gap: 15px;
}

.pro_description {
  width: 65%;
  padding: 90px 50px 90px 60px;
  background-color: var(--dark-button-color);
  text-align: center;
  display: inline-flexbox;
}

#pro_1 {
  clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
}

#pro_2 {
  clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%);
}

/*pending*/
#pro_cont_picture_1 {
  width: 35%;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.pro_picture {
  display: flex;
  text-align: center;
  justify-content: center;
}

.p-picture {
  margin-left: 0px;
  height: 350px;
}

.pro_controls {
  padding-top: 10px;
}

@media screen and (min-width: 1400px) {
  .pro_content {
    margin: 10px 14%;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .pro_container {
    margin: 0;
    padding: 15px;
    background-color: var(--dark-background);
  }

  .p_welcome {
    margin: 90px 22% 70px;
  }

  .p_welcome h1 {
    text-align: center;
    padding: 65px 0 0 0;
    color: var(--dark-color);
  }

  .pro_content {
    display: inline;
  }

  .pro_description {
    width: 100%;
    padding: 35px 20px;
    clip-path: none;
  }

  .pro_cont_picture {
    width: 100%;
  }

  .pro_picture {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .p-picture {
    height: 100px;
  }
}
