@keyframes textgradient {
    0% {background-position: 0 50%; }
    100% {background-position: 100% 50%;}
}

body {
    background-color: #252525;
    color: #fff;
}

.link {
    color: #f2f2f2;
}

.link:hover {
    color: #EC0138;
}

.welcome {
    height: auto;
    margin: 30px 20px 30px 20px;
    color: #fff;
}

.welcome .welcome-container {
    padding: 20px 0 0 0;
    text-align: center;
    justify-content: center;
}

.welcome .welcome-container h1{
    padding: 0 0 10px 0;
    transition: 0.5s;
}

.welcome .welcome-container h1:hover {
    color: #01ecc5;
}


.slider-container {
    position: relative;
    width: 100%;
    max-width: auto;
    margin: 0 0 0 0;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    height: 600px;
    background-size: cover;
    z-index: -1;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #fff;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.telecom {
    text-align: center;
}

.telecom .title {
    font-size: 25px;
}

.telecom p {
    padding: 0 0 10px 0;
}

.telecom .menu-girls {
    background-color: #fff;
}

.musica {
    padding-top: 15px;
    align-items: center;
    text-align: center;
}

.texto {
    margin-left: 0 50px 0 50px;
    height: auto;
}

.texto .caja-texto{
    height: 220px;
    background-color: #414144;
    grid-gap: 5px;
    border-radius: 8px;
    display: flex;
    margin: 20px;
}

.c_t_picture {
    width: 280px;
    justify-content: center;
    display: flex;
}

.p-first {
    margin: 10px;
    align-items: center;
}

.c_t_content {
    width: auto;
    padding: 25px 25px 0 10px;
    text-align: initial;
}

.c_t_content p {
    padding: 8px 0 0 0;
}